{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

    {{> zeit_bar}}

{{! The main content area on the homepage }}
<main class="content columns large-8" role="main">

    <div class="row">
        <div class="article-wrap columns large-10">

        {{! Each post will be output using this markup }}
        {{#foreach posts}}

        <article class="{{post_class}}">
            <header class="post-header">
                <h3 class="post-title"><a href="{{url}}">{{{title}}}</a></h3>
            </header>
            <section class="post-excerpt">
                <p>{{excerpt}}&hellip;</p>
            </section>
            <footer class="post-meta">
                <ul>
                    <li><time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time></li>
                    {{#if tags}}
                    <li>on {{tags}}</li>
                    {{/if}}
            </footer>
        </article>

        {{/foreach}}

        {{!! After all the posts, we have the previous/next pagination links }}
        {{pagination}}

        {{> zeit_footer}}

        </div>

        

    </div>

    

</main>