{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{> zeit_bar}}

{{! The main content area on the homepage }}
<main class="content columns large-8" role="main">

    <div class="content-inner row">
        <div class="article-wrap columns large-10">

        {{! Each post will be output using this markup }}
        {{#foreach posts}}

        <article class="{{post_class}}">
            <header class="post-header">
                <h3 class="post-title"><a href="{{url}}">{{{title}}}</a></h3>
            </header>
            <section class="post-excerpt">
                <p>{{excerpt}}&hellip;</p>
            </section>
            <div class="post-meta post-timestamp">
                <span class="post-date">
                    <i class="fi-icon fi-clock"></i>
                    <time datetime="{{date format="YYYY-MM-DD"}}">{{date format='DD MMMM YYYY'}}</time>
                </span>
                {{#if tags}}
                <span class="tag-list">
                    <span><i class="fi-icon fi-bookmark"></i> {{tags}}</span>
                </span>
                {{/if}}
            </div>
        </article>

        {{/foreach}}

        {{!! After all the posts, we have the previous/next pagination links }}
        {{pagination}}

        </div>

        <div class="columns large-12">
            {{> zeit_footer}}
        </div>

    </div>

</main>