{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

<main class="post-page-content" role="main">

    <div class="row">

        {{!-- {{> zeit_bar_post}} --}}

        <article class="columns large-8 large-offset-2 {{post_class}}">

            {{#post}}

            <div class="post-flag">
                {{#if author}}
                <div class="post-flag-author">
                    <div class="author-image" style="background-image:url({{author.image}});">
                        <a href="{{@blog.url}}" class="post-sitelink" title="{{@blog.title}}"></a>
                        {{!-- <img src="" width="200" height="200" alt="{{author.name}}" /> --}}
                    </div>
                </div>
                {{/if}}
            </div>

            <div class="post-meta post-timestamp">
                <div class="post-date">
                    <time datetime="{{date format="YYYY-MM-DD"}}">{{date format='DD. MMMM YYYY'}}</time>
                </div>
            </div>
            
            <h1 class="post-title">{{{title}}}</h1>

            <section class="post-content">
                {{content}}
            </section>

            <section class="post-meta post-tags">
                <div class="post-meta-inner">
                {{#if tags}}
                <div class="tag-list">
                    <span><i class="fi-bookmark"></i> {{tags}}</span>
                </div>
                {{/if}}
                </div>
            </section>

            {{/post}}

            {{> zeit_post_author}}

            {{> zeit_post_foot}}

        </article>

    </div>

    <div class="row">
        <div class="columns large-8 large-centered">
            {{> zeit_footer}}
        </div>
    </div>





</main>